aside.aside.aside-menu
  nav.aside__nav.aside__list
    a.aside__item.aside__link(href='#0') Item 1
    a.aside__item.aside__link(href='#0') Item 2
    a.aside__item.aside__link(href='#0') Item 3
    a.aside__item.aside__link(href='#0') Item 4
    a.aside__item.aside__link(href='#0') Item 5
    a.aside__item.aside__link(href='#0') Item 6