header.header
  .nav
    .container
      .row
        .col-6.col-md-4
          include logo.pug
        .col-1.ml-auto.offset-md-2.col-md-1
          button.search
            img(src='res/icons/search.svg' alt='Search' width='15px' height='15px')
        .col-3.col-md-1
          button.menu.ml-auto
            img(src='res/icons/menu.svg' alt='Menu' width='22px' height='9px')